.grid-container {
    display: grid;
    grid-template-columns: 160px auto auto;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
  }

  .grid-container > div {
    background-color: rgba(255, 255, 0, 0.8);
    text-align: center;
    padding: 20px 0;
    
  }

  .heading {
      grid-column: 1/4; font-size: 30px;
  }

  .sidebar {
      grid-row: 2/5;font-size: 18px;
  }

  .intro {
      grid-column: 2; font-size: 20px;
  }

  .pic {
      grid-column: 3; 
  }

  .events {
      grid-column: 2/4; font-size: 20px;
  }

  .weather {
    grid-column: 2/4;
      display: grid;
      grid-row-gap: 5px;
      grid-column-gap: 15px;
      background-color: #a3015a;
      padding: 30px;
      grid-template-columns: auto auto auto auto auto auto auto;
      
  }
    .weather > div {
    background-color: rgba(0, 238, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    }
  .weatherHeading {grid-column:1/8 ;}
  .weather1a {grid-column: 1;}
  .weather2a {grid-column: 2;}
  .weather3a {grid-column: 3;}
  .weather4a {grid-column: 4;}
  .weather5a {grid-column: 5;}
  .weather6a {grid-column: 6;}
  .weather7a {grid-column: 7;}
  .weather1b {grid-column: 1;}
  .weather2b {grid-column: 2;}
  .weather3b {grid-column: 3;}
  .weather4b {grid-column: 4;}
  .weather5b {grid-column: 5;}
  .weather6b {grid-column: 6;}
  .weather7b {grid-column: 7;}
  .weather1c {grid-column: 1;}
  .weather2c {grid-column: 2;}
  .weather3c {grid-column: 3;}
  .weather4c {grid-column: 4;}
  .weather5c {grid-column: 5;}
  .weather6c {grid-column: 6;}
  .weather7c {grid-column: 7;}